<div class="container-fluid pulldown">
  <div class="row">
    <div class="col-2">
      <div class="list-group">
        <a
          *ngFor="let menuitem of menu"
          class="list-group-item list-group-item-action"
          [class.active]="category === menuitem.key"
          routerLink="/admin/portal"
          [queryParams]="{ category: menuitem.key }"
        >
          <h6>{{ menuitem.name }}</h6>
        </a>
      </div>
    </div>
    <div class="col">
      <div *ngIf="category === 'dashboard'" class="card">
        <div class="card ">
          <div class="card-header">
            Dashboard
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
          </div>
        </div>
      </div>

      <div *ngIf="category === 'user'" class="card">
        <div class="card ">
          <div class="card-header">
            Add new User
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <div class="text-right">
                <a
                  routerLink="/admin/users"
                  class="btn btn-primary navbar-right"
                  >Add Users</a
                >
              </div>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
